.nav-bar {
  background-color: #21222a;
  display: flex;
  justify-content: space-between;
}

.left-side {
  display: flex;
}

.logo {
  padding: 20px;
  padding-left: 40px;
  width: 130px;
}

.react-title {
  color: #61dafb;
  font-weight: 700;
  font-size: 30px;
  padding: 20px;
}

.right-side {
  display: flex;
  align-items: center;
}

.course-title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding-right: 40px;
}
